<main>
  <div class="container">
    <section class="request">
      <div class="forecast-request">
        <div class="input-container">
          <input class="lon" type="text" />
          <input class="lat" type="text" />
        </div>
        <div class="btn-container">
          <button class="button btnP" id="get-location">Get location</button>
          <button class="button btnF" id="get-forecast">Get forecast</button>
        </div>
      </div>
    </section>
    <section class="weather-forecast">
      <div class="weather row gx-2"></div>
    </section>
  </div>
</main>
